<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="header.css" />
    <title>MySacco :: Save for the Future</title>
    <link rel="shortcut icon" href="MySacco_200x200.png" type="image/x-icon" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <style>
        /*main*/
        main {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .sacco-form {
            width: 450px;
            margin: 10px;
            background-color: #fff;
            border-radius: 5px;
            /* height: 75vh; */
        }

        .-hform {
            width: 100%;
            font-size: 24px;
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px;
        }

        .b-ctr {
            margin: 15px 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .label {
            font: 17px;
            font-weight: 400;
        }

        .-i-ctr {
            margin: 10px 5px;
        }

        /*width*/
        .-w {
            width: 300px;
        }
        .failed_message_s,
        .failed_message_u,
        .failed_message_p{
            color: red;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        @media screen and (max-width: 768px) {
            .sacco-form {
                width: 95%;
                margin: 10px auto;
            }
        }
    </style>
</head>

<body>
    <div class="sacco">
        <div class="side">
            <a href="/new-sacco" class="side-link">New Sacco</a>
            <a href="#" class="side-link">Services</a>
            <a href="#" class="side-link">About</a>
            <a href="#" class="side-link">Partners &amp; Sponsers</a>
            <a href="#" class="side-link">Help</a>
        </div>
        <header>
            <div class="menu">
                <span class="material-icons">
                    menu
                </span>
            </div>
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="MySacco_200x200.png" alt="MYSACCO" height="100px" width="100px" />
                </a>
                <a href="/new-sacco" class="nav-link">New Sacco</a>
                <a href="#" class="nav-link">Services</a>
                <a href="#" class="nav-link">About</a>
                <a href="#" class="nav-link">Partners &amp; Sponsers</a>
                <a href="#" class="nav-link">Help</a>
            </nav>
            {{!-- <button class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Start</span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">navigate_next</i>
            </button> --}}
        </header>
        <main>
            <div action="#" class="sacco-form -bx">
                <div class="-hform">Login to your DashBoard</div>
                <form class="basic-info" id="login_form">
                    <div class="b-ctr">
                        <div class="-i-ctr">
                            <label for="sn">Sacco ID:</label>
                            <br />
                            <input type="text" class="-is -w" name="sacco_id" required />
                            <div class="failed_message_s">Message goes here</div>
                        </div>
                        <div class="-i-ctr">
                            <label for="sn">Member Number:</label>
                            <br />
                            <input type="text" class="-is -w" name="member_number" required />
                            <div class="failed_message_u">Message goes here</div>
                        </div>
                        <div class="-i-ctr">
                            <label for="sn">Password:</label>
                            <br />
                            <input type="password" class="-is -w" name="password" required />
                            <div class="failed_message_p">Message goes here</div>
                        </div>
                        <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Login</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">navigate_next</i>
                        </button>
                    </div>
                </form>
                <div class="basic-info b-ctr">
                    Not Registered Yet?
                    <br />
                    <a href="/register" style="padding: 10px 5px;">
                        <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Register</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">
                                navigate_next
                            </i>
                        </button>
                    </a>
                </div>
            </div>
        </main>
    </div>
    <script src="index.js"></script>
    <script>
                let loginForm = document.querySelector('#login_form');
        loginForm.addEventListener('submit', (e) => {
            e.preventDefault();
            let formData = new FormData(loginForm);
            let req = {};
            formData.forEach((value, key) => {
                req[key] = value;
            });  
                let xhr = new XMLHttpRequest();
                xhr.open("POST", '/api/user/login', true);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(req));
                xhr.onreadystatechange = () => {
                    if (xhr.status == 200 && xhr.readyState == 4) {
                        if(xhr.responseText == 'Sacco Does Not Exist' ||
                        xhr.responseText =="Sacco Not Confirmed"){
                            document.querySelector('.failed_message_s').style.opacity = 
                                '0.9';
                            document.querySelector('.failed_message_s').innerHTML = 
                                xhr.responseText;
                            setTimeout(()=>{
                            document.querySelector('.failed_message_s').style.opacity = '0';
                            },10000)
                        } else if(xhr.responseText == 'User Not Found'){
                            document.querySelector('.failed_message_u').style.opacity = 
                                '0.9';
                            document.querySelector('.failed_message_u').innerHTML = 
                                xhr.responseText;
                            setTimeout(()=>{
                            document.querySelector('.failed_message_u').style.opacity = '0';
                            },10000)
                        }else if(xhr.responseText == 'Wrong PassWord'){
                            document.querySelector('.failed_message_p').style.opacity = 
                                '0.9';
                            document.querySelector('.failed_message_p').innerHTML = 
                                xhr.responseText;
                            setTimeout(()=>{
                            document.querySelector('.failed_message_p').style.opacity = '0';
                            },10000)
                        }else{
                            let res = JSON.parse(xhr.responseText);
                            window.location.assign(`/home/${res.sacco_id}/${res.member_number}`);
                        }
                    }
                }
            });
    </script>
</body>

</html>